h1{color:white; font-family:helvetica;border:3px solid black; background-color: purple;padding: 10px}
p{color:purple; font-family:helvetica}
body{background-color:lightyellow;}
img{border:2px solid black;height:40%;width:40%;margin-left:50px;}
